.card {
  background: var(--background);
  border-radius: 16px;
  border: 1px solid var(--black8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: all 0.3s ease;
  /* max-width: 280px; */
  width: 200px;
  height: 338px;
  position: relative;
  font-family: var(--font-primary);
  padding: 16px 8px; 
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transform: translateY(-3px);
}

/* Card Header */
.cardHeader {
  position: absolute;
  width: 80%;
  height: 70%;
  overflow: hidden;
  border-radius: 16px;
  justify-self: center;
}

/* Heart Icon */
.icon {
  position: absolute;
  background-color: unset;
  top: 8%;
  right: 11%;
  width: 24px;
  height: 24px;
  z-index: 2;
  

}

.heartIcon svg{
  width: 20px;
  height: 20px;

  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 0.3s ease;

}

/* Product Image */
.cardImage{
  position: relative;
  margin: 16px;
  background-color: black;
  width: 152px;
  height: 172px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  
  justify-self: center;

  border: 1px solid var(--black8);
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Availability Badge */

.availableText {
  position: absolute;
  background: var(--primary);
  color: var(--onPrimary);
  padding: 4px 16px;
  border-radius: 24px;
  bottom: 25%;
  right: -25%;
  transform: translateX(-50%);
  z-index: 2;
  gap: 8px;
  font-size: 10px;
  font-weight: 400;
  height: 20px;
  width: fit-content;
}
.unavailableText{
  position: absolute;
  background: var(--disabled);
  color: var(--onPrimary);
  padding: 4px 16px;
  border-radius: 24px;
  bottom: 25%;
  right: -25%;
  transform: translateX(-50%);
  z-index: 2;
  gap: 8px;
  font-size: 10px;
  font-weight: 400;
  height: 20px;
  width: fit-content;
}
.cardBody {
  position: relative;
  margin-top: 110%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  gap: 10px;
}

/* Category */
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 20px;
  border-radius: 24px;
  padding: 4px 16px;
  gap: 16px; 

  background-color: unset;
  border: 1px solid var(--black16);

}

.categoryText {

  padding: 5px 14px;
  border-radius: 18px;
  font-size: 10px;
  font-weight: 500;
  color: var(--black60);
}



/* Product Name */
.productName {
  display: flex;
  width: 192px;
  height: 46px;
  gap: -8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--black60);
  /* line-height: 100%; */
}

/* Price */
.productName:last-child {
 margin-top: -14%;
}


