.background{
    margin: auto;
    width: 100%;
    height: 100%;
    /* position: relative; */
    background-image: url("/acessts/footerBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed;  */
}

/* Responsive adjustments */
@media (min-width: 640px) {
    .background {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .background {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .background {
        width: 30%;
    }
} 

